<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex justify-center items-center w-full py-12 flex-col gap-4 px-4 bg-black text-white text-xl">
        <p>Enregistrez-vous</p>
    </div>

    <form action="/auth/handler" method="post" class="px-12">
        <p class="mt-4 underline">Nom</p>
        <input type="text" placeholder="Nom..." name="nom"/>

        <p class="mt-4 underline">Prénom</p>
        <input type="text" placeholder="Prénom..." name="prenom"/>

        <p class="mt-4 underline">Date de naissance</p>
        <input type="datetime-local" name="dateDeNaissance"/>

        <p class="mt-4 underline">Email</p>
        <input type="email" placeholder="Email..." name="email"/>

        <p class="mt-4 underline">Mot de passe</p>
        <input type="password" placeholder="Mot de passe..." name="motDePasse"/>

        <input class="bg-sky-700 text-white border rounded shadow px-2 py-1" type="submit" value="Envoyer...">
    </form>
</body>
</html>